@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;

}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(70% at right -20%);
}


header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 150px;
}

header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textBox h2 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 30px;
    line-height: 1.4rem;
    font-weight: 700;

}

.content .textBox p {
    color: #fff;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e51e2a;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.sci {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #e51e2a;
    transform: translateY(-10px);
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}

.creator {
    color: #fff;
    font-size: 0.5rem;
}

/* slider */

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;

}

.content .imgBox {
    width: 500px;
    display: flex;
    justify-content: flex-end;

}

.content .imgBox img {
    max-width: 100px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 180px;
    display: flex;

}

.swiper-3d .swiper-slide-shadow-left {
    background: none;
}

.swiper-3d .swiper-slide-shadow-right {
    background: none;
}

@media (max-width: 1125px) {
    header {
        padding: 40px;
    }
    section {
        padding: 150px 40px;
    }
    .sci {
        left: 40px;
    }
    .content {
        flex-direction: column;
    }
    .content .textBox{
        max-width: 100%;
    }
    .content .imgBox
    {
        max-width: 100%;
    }
    .swiper-slide{
        height: 300px;
    }
}